[Unit]
Description=Airflow webserver daemon
After=network.target mysql.service
Wants=mysql.service

[Service]
EnvironmentFile={{ rv_airflow_config_dir }}/airflow.env
User=airflow
Group=airflow
Type=simple
ExecStart=airflow kerberos
Restart=on-failure
RestartSec=10s
PrivateTmp=true

[Install]
WantedBy=multi-user.target
