[Unit]
Description=Airflow scheduler daemon
After=network.target mysql.service
Wants=mysql.service

[Service]
EnvironmentFile={{ rv_airflow_config_dir }}/airflow.env
User=root
Group=root
Type=simple
ExecStart=airflow scheduler
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
