HADOOP_HOME="{{ rv_hadoop_home_latest }}"
JAVA_HOME="{{ grv_baseos_client_config.java_home }}"
JDK_JAVA_OPTIONS="-Djava.net.preferIPv4Stack=true -Dlog4j.configurationFile={{rv_metastore_conf}}/metastore-log4j2.properties"
LOG_DIR="{{ rv_metastore_logs }}"
METASTORE_CONF_DIR="{{ rv_metastore_conf }}"
